/* CSS Variable */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px; /* topbottom, leftright */
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0; /* by default, ul has padding */
    list-style: none; /* we don't want any bullet */
    grid-template-columns: repeat(4, 1fr); /* meaning repeat 4 times, each represent 1fr. It's the same as 1fr 1fr 1fr 1fr */
}

.main-nav a {
    background: var(--primary);
    display: block; /* this will make the whole block with the backgroud color list above */
    text-decoration: none; /* remove underline */
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;

    /* --------------------------------------------------------------------------*/
    /* |         showcase(2)        |         showcase(2)        | top-box-a(1) |*/
    /* |         showcase(2)        |         showcase(2)        | top-box-b(1) |*/
    /* --------------------------------------------------------------------------*/
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(img/showcase.jpg);
    background-size: cover; /* got value of auto, cover, contain */
    background-position: center;
    padding: 3rem;

    /* Use flexbox to align within the element */
    display: flex;
    flex-direction: column;
    align-items: start; /* Make the button smaller rather occupy the whole screen horizontally */
    justify-content: center; /* Push the content down to align in the middle verifically */
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

/* Top Box*/
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem; /* I don't quite understand, why setting a bigger padding on top-box will push back the width of showcase? I thought the showcase width is set?? */
}

.top-box .price {
    font-size: 2.5rem; /* Same question as the padding above, why can it push bask the show case width? */
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 20px;

    /* This is an important concept:
       When the screen is big, the four box will show as 1fr each.
       But as soon as the page become small, e.g. 799px (<800px), the min size of 200px kicks in and make the 4th box into the next row.
          However, when this happened, the top row will have 3 items and it will still evenly divided into 3 sections so each box occupy 1 sections.
          And the 4th box in the second row will be the same size as the box in first row because they are all 1fr.
       The same happens when the page becomes smaller e.g. 599px (<600px).
       That is the trick to make this layout very powerful rather than keep having media query!!
     */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/* Media Queries */
@media (max-width: 700px) {
    .top-container {
        /* ----------------------------------*/
        /* |  showcase(1)  |  showcase(1)   |*/
        /* |  top-box-a(1) |  top-box-b(1)  |*/
        /* ----------------------------------*/
        grid-template-areas:
                'showcase showcase'
                'top-box-a top-box-b';
    }

    .showcase h1 {
        font-size: 2.5rem; /* From 4rem to 2.5rem */
    }

    .main-nav ul {
        grid-template-columns: 1fr; /* From repeat(4, 1fr) to 1fr */
    }

    .info {
        grid-template-columns: 1fr; /* From repeat(2, 1fr) to 1fr */
    }

    /* Make the button width the same as screen with small screen */
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .top-container {
        /* -----------------*/
        /* |  showcase(1)  |*/
        /* |  top-box-a(1) |*/
        /* |  top-box-b(1) |*/
        /* -----------------*/
        grid-template-areas:
                'showcase'
                'top-box-a'
                'top-box-b';
    }
}